version: "3"

volumes:
        jenkins-data:
        jenkins-logs:

networks:
        net:

services:
        jenkins:
                build:
                        context: ./
                image: "sjplautz/web-portfolio:jenkins-task-server"
                container_name: jenkins-task-server
                ports:
                        - "${HOST_WEB_UI_PORT}:8080"
                        - "${HOST_API_PORT}:50000"
                volumes:
                        - jenkins-data:/var/jenkins_home
                        - jenkins-logs:/var/log/jenkins
                networks:
                        - net