version: "3"

volumes: 
        jenkins-data:
        jenkins-logs:

networks:
        net:

services:
        jenkins-build-server:
                build:
                        context: ./
                        args:
                                HOST_UID: ${HOST_UID}
                                HOST_GID: ${HOST_GID}
                image: "sjplautz/web-portfolio:jenkins-build-server"
                container_name: jenkins-build-server
                ports:
                        - "${HOST_WEB_UI_PORT}:8080"
                        - "${HOST_API_PORT}:50000"
                volumes:
                        - jenkins-data:/var/jenkins_home
                        - jenkins-logs:/var/log/jenkins
                        # mount the localhost docker daemon socket 
                        - /var/run/docker.sock:/var/run/docker.sock
                networks:
                        - net