apiVersion: apps/v1
kind: Deployment 
metadata:
  name: neuralnetwork-dep
  namespace: default
  labels:
    app: neuralnetwork-app
spec:
  replicas: 2  
  selector: 
    matchLabels:
      app: neuralnetwork-app
  template: 
    metadata:
      name: neuralnetwork-pod
      labels:
        app: neuralnetwork-app
    spec:
      imagePullSecrets:
      - name: dockerhub-regcreds
      containers:
        - name: neuralnetwork-container
          image: sjplautz/web-portfolio:neural-network-app
          ports:
            - name: http
              containerPort: 80
          imagePullPolicy: Always